<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
   
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FarmaKode.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />

  </configSections> 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <FarmaKode.Client.Properties.Settings>
      <setting name="PharmacyID" serializeAs="String">
        <value />
      </setting>
      <setting name="FileExtension" serializeAs="String">
        <value>*.htm</value>
      </setting>
      <setting name="SourceFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="IsCopyFileToDestination" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DestinationFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ClearCacheType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ApiURL" serializeAs="String">
        <value>https://farmakode.com/api/post-recipe</value>
      </setting>
      <setting name="NotificationDuration" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="NotificationPosition" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NotificationMaxCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="IsEnableNotification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultBarcodePrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="XPathConfigFilePath" serializeAs="String">
        <value>Data\XPathConfig.json</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>Log</value>
      </setting>
      <setting name="AppIsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsParseableKeyword" serializeAs="String">
        <value>/eczane/faces/pages/recete/ReceteIslem2.jsp</value>
      </setting>
      <setting name="LatestPostPath" serializeAs="String">
        <value>Data/LatestPost</value>
      </setting>
      <setting name="IsManuelMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IPAddressServer" serializeAs="String">
        <value>https://ipinfo.io/ip</value>
      </setting>
      <setting name="PharmacyPCNO" serializeAs="String">
        <value>PC-02</value>
      </setting>
      <setting name="ShowPrinterDilaog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PaperWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="PaperHeight" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="MarginLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MarginRight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MarginTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MarginBottom" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ManuelKeysCTRL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManuelKeysSHIFT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManuelKeysALT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManuelKeysCustom" serializeAs="String">
        <value />
      </setting>
      <setting name="ManuelModeTimerInterval" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="BarcodeSpeed" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="BarcodePostDuration" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="BarcodeClearDuration" serializeAs="String">
        <value>3</value>
      </setting>
    </FarmaKode.Client.Properties.Settings>
  </userSettings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <!--<file value="C:\\Users\\Ahmet\\Desktop\\Test\\Logs.txt"/>-->
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%date [%thread] %-5level  – %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>